
  <h1 class="bg-warning text-center">Customer Record</h1>
  <div class="container d-inline-flex">
    <button class=" btn btn-primary" (click)="addCustomer()">Add Customer</button>
  </div>

  <table class="table text-center">
    <thead class="thead-dark ">
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    </tbody>
  </table>



